<!--<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/entrar" method="POST">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite o seu e-mail">
        </div>
            <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="senha" placeholder="Digite a sua senha">
        </div>
        <input type="submit" value="Entrar">
        <p>Ainda não possui conta? <a href="/cadastrar">Faça o cadastro!</a></p>
    </form>
</div> -->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url('assets/img/bg-01.jpg');">
					<span class="login100-form-title-1">
						Entrar
					</span>
				</div>
            {{#if messages.message}}
                <p class="alert-danger text-center col-3 px-2 mt-2 position-relative mx-auto">{{messages.message}}</p>
            {{/if}}
            {{#if message}}
                <p class="alert-danger text-center col-3 px-2 mt-2 position-relative mx-auto">{{message}}</p>
            {{/if}}
				<form action="/entrar" method="POST" class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Este campo é obrigatório">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" name="email" placeholder="Digite seu email">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Este campo é obrigatório">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" name="senha" placeholder="Digite sua senha">
						<span class="focus-input100"></span>
					</div>

					<div class="flex-sb-m w-full p-b-30">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="lembrar-me">
							<label class="label-checkbox100" for="ckb1">
								Lembrar dados
							</label>
						</div>

						<div>
							<a href="/cadastrar" class="txt1">
								Cadastre-se aqui!
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<input  type="submit" value="Entrar" class="login100-form-btn">	
					</div>
				</form>
			</div>
		</div>
	</div>